@charset 'utf-8';

@import 'reset';
@import 'table';
@import 'button';
@import 'box';
@import 'join';
@import 'menu';
@import 'jsstudy';
@import 'jsstudycopy';

.box1{
    width: 400px;
    height: 300px;
    border: 1px solid #111;
    border-radius: 5px;
    display: none;

    .wrap{
        width: 100%;
        height: 100%;
        padding: 60px 70px;

        h1{
            font: 18px/1 'arial';
            color: red;
            margin-bottom: 30px;
        }
        form{
            width: 100%;
            input{
                display: block;
                margin-bottom: 15px;
                width: 200px;
                height: 30px;
            }
            .go{
                display: inline-block;
                width: 50px;
                height: 30px;
                font: 15px/30px 'arial';
                text-align: center;
                background: red;
            }
            .close{
                display: inline-block;
                width: 50px;
                height: 30px;
                font: 15px/30px 'arial';
                text-align: center;
                background: red;
            }
        }

    }
}

#login{
    padding: 10px;
}



